<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teda.miaanticonceptivos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.form.view.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.form.view.TutorialActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.form.view.StartActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.form.view.TermsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.form.view.PrioritiesActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.form.view.SelectPrioritiesActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.form.view.DiscreetActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.form.view.SelectDiscreetActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.form.view.TimeActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.form.view.SelectTimeActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.KnowActivity"
            android:screenOrientation="landscape" />

        <!-- <activity
             android:name=".ui.OralesActivity"
             android:screenOrientation="landscape" />-->

        <activity
            android:name=".ui.CompareActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.pricing.view.PricingActivity"
            android:screenOrientation="landscape" />


    </application>

</manifest>